/* Modal styles */
.modalPurchase1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 14, 14, 0.5);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalOrders{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 14, 14, 0.5);
    z-index: 1000;
}

.modalOrder {
    
    background-color: #FEF7E1;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 30%;
    max-height: 50%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
}

.navButtonOrders{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width:100%;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    margin: 0;
}

.modalContents p {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #212121;
}

.orderButtonsHistory{
    background-color: #A5957B;
    color: black;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0 4rem;   
    width: 100%;
    height: 100%; 
}

.modalContents .orderButtonsHistory {
    background-color: #3e2723;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0 4rem;   
    width: 100%;
    height: 100%; 
}

.section {
    width: 84%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 16%;
    background-color: #F4F4F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0;
    padding: 1rem 1rem 1rem 0;
    box-sizing: border-box;
}

/* Scrollbar styles */
.section::-webkit-scrollbar {
    width: 8px;
}

.section::-webkit-scrollbar-thumb {
    background-color: #cfcfcf;
    border-radius: 10px;
}

.section::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 10px;
}

/* Navigation buttons */
.navButtons {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.filterContainer {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.filterButton {
    cursor: pointer;
    height: 100%;
    background-color: #A5957B;
    border: 0;
    font-weight: 500;
    padding: 0.5rem 1rem;
    font-size: 0.825rem;
    margin-left: 0.5rem;
    border-radius: 0.3rem;
    transition: 0.4s ease-in-out;
    color: black;
    position: relative;
}

.notificationNumber {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }

/* Search bar */
.OrdersSearchContainer {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.noOrdersTxt{
    position: relative;
    color: #3e2723;
    font-size: 3rem;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.OrdersSortButton{
    background-color: #A5957B;
    font-size: 1rem;
    font-weight: 500;
}


.searchInput {
    width: 70%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    background-color: #FEF7E1;
    color: #0e0e0e;
    border: 1px solid #3e2723;
    text-align: start;
    margin: 0;
}

.buttonOrderHistory {
    cursor: pointer;
    height: 100%;
    background-color: #A5957B;
    color: black;
    border: 0;
    font-weight: 500;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-left: 0.5rem;
    border-radius: 0.3rem;
    transition: 0.4s ease-in-out;
    border-top: 1px solid #3e2723;
}


/* Orders Section */
.orderPurchasesContainer {
    width: 100%;
    height: 90vh;
    margin-top: 2rem;
    overflow-y: auto;
    background-color: #FEF7E1;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    scrollbar-width: none; /* For Firefox */
    box-shadow: 0px 8px 8px 0px rgba(62,39,35,1);
    -webkit-box-shadow: 0px 8px 8px 0px rgba(62,39,35,1);
    -moz-box-shadow: 0px 8px 8px 0px rgba(62,39,35,1);   
    border-top: 1px solid #3e2723;
}

.orderPurchasesContainer::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}

.pendingOrdersContainer,
.historyOrdersContainer {
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0;
}

.pendingOrdersHeader,
.historyOrdersHeader {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noOrders{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderList,
.orderList1 {
    list-style: none;
    padding: 0;
    background-color: #fff;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.orderItem,
.orderItem1 {
    width: 49%;
    max-width: 49%;
    padding: 1rem;
    border: 1px solid;
    box-sizing: border-box;
    
}

.orderItem p,
.orderItem1 p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.orderItem button,
.orderItem1 button {
    background-color: #3e2723;
    color: #F4F4F9;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ordersH3{
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

/* Ensuring consistent height for the orders sections */
.pendingOrdersContainer,
.historyOrdersContainer {
    min-height: 200px; /* Ensures both containers maintain a consistent height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orderItem,
.orderItem1 {
    height: auto;
    flex-grow: 1;
}


@media (max-width: 768px) {
    .section {
        padding: 1rem;
        left: 0;
    }
}

@media (max-width: 1220px) {
    .section {
        width: 100%;
        padding: 1rem;
        left: 0;
    }
}