    .section {
        width: 83%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 16%;
        background-color: #F4F4F9;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        overflow: hidden;
        margin: 0;
        padding: 0.2rem  ;
    }

    .cardContainer {
        width: 100%;
        height: 16vh; /* Allow height to adjust based on content */
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        background-color: transparent;
        margin: 0;
        padding: 0;
        gap: 0.5rem;
        justify-content: center;
    }

    h2{
        margin: 0;
    }

    .analyticsContainer{
        width: 70%;
        height: 84vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .graphContainer{
        width: 100%;
        height: 77vh;
    }

    .graphNavButtons{
        width: 100%;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-top: 2vh;
    }

    .graphButtons{
        width: 23%;
        background-color: #A5957B;
        transition: 0.3s ease-in-out;
    }

    .graphButtons:hover{
        background-color: #A0764B;
    }

    .secondCardContainer{
        width: 30%;
        height: 84vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .reservationCardContainer{
        width: 100%;
        height: 100%;
        position: relative;
    }

    .reservationNavButtons{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 3%;
        margin-top:3%;
    }
    
    .reservationButton{
        background-color: #A5957B;
        width: 30%;
        transition: 0.3s ease-in-out ;
    }

    .reservationButton:hover{
        background-color: #A0764B;
    }


    @media (max-width: 768px) {
        .section {
            padding: 1rem;
            left: 0;
        }
        .textStyle, .textStyle1 {
            font-size: 1.2rem;
        }

        .controls {
            flex-direction: column;
            width: 100%;
            align-items: center;
        }

        .feedbackContainer {
            height: 75vh;
            width: 100%;
        }
    }

    @media (max-width: 480px) {
        .section {
            padding: 1rem;
            left: 0;
        }

        .textStyle, .textStyle1 {
            font-size: 1rem;
        }

        .controls {
            flex-direction: column;
            gap: 0.3rem;
        }

        .controls .sort, .controls .filter {
            width: 100%;
            font-size: 0.9rem;
            padding: 0.3rem 0.6rem;
        }

        .feedbackContainer {
            height: 70vh;
            width: 85%;
        }
    }



    @media (max-width: 1220px) {
        .section {
            width: 100%;
            padding: 1rem;
            left: 0;
        }
        .textStyle1{
            align-items: center;
            justify-content: center;
            position: relative;
            left: 5%;
        }
    }
