.section {
    width: 84%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 16%;
    background-color: #F4F4F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0;
    padding: 1rem 1rem 1rem 0;
    box-sizing: border-box;
}

/* Custom scrollbar styles for webkit browsers */
.posContainer::-webkit-scrollbar {
    width: 1px; /* Width of the scrollbar */
}

.posContainer::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
}

.posContainer::-webkit-scrollbar-thumb {
    background: #A0764B; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.posContainer::-webkit-scrollbar-thumb:hover {
    background: #A5957B; /* Darker shade on hover */
}

/* For Firefox */
.posContainer {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color:  #A5957B; /* Thumb color and track color */
}

.posContainer {
    background-color: transparent;
    position: relative;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 72% 25%;
    grid-template-rows: 5% 93%;
    grid-template-areas:
        "navbar order"
        "menu order";
    gap: 1rem;
}

.navbar, .forms, .searchContainer, .find, .POSFilterContainer, select, .menuContainer, .orderContainer, .placeOrder, .receipt, .individualProductsContainer, .bundleContainer {
    background-color: transparent;
}

.navbar {
    grid-area: navbar;
    margin-left: 0.5rem;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 1%;
}

.forms {
    grid-area: navbar;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchContainer {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.searchBar {
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    background-color: #FEF7E1;
    color: #0e0e0e;
    border: 1px solid #3e2723;
    text-align: start;
    margin: 0;
    padding: 0 0 0 1rem;
    box-shadow: 0px 8px 8px 0px rgba(62,39,35,1);
    -webkit-box-shadow: 0px 8px 8px 0px rgba(62,39,35,1);
    -moz-box-shadow: 0px 8px 8px 0px rgba(62,39,35,1);   
    border-top: 1px solid #3e2723;
    
}

.find {
    height: 2.0rem;
    width: 10%;
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0.4%;
    margin: 0;
    padding: 1rem;
    
}

.searchIcon{
    width: 1.2rem;
    height: 1.2rem;
    background-color: transparent;
}

.POSFilterContainer {
    width: 20%;
    height: 100%;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    gap: 0.4rem;
    background-color: #A5957B;
    color: black;
    border: 1px solid #A5957B;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 8px 8px 0px rgba(62,39,35,1);
    -webkit-box-shadow: 0px 8px 8px 0px rgba(62,39,35,1);
    -moz-box-shadow: 0px 8px 8px 0px rgba(62,39,35,1);   
    border-top: 1px solid #A5957B;
}

.POSFilterContainer:hover{
    background-color: #A0764B;
}

select {
    border: 0;
    width: 70%;
    cursor: pointer;
    color: black;
}

option {
    background-color: #A5957B;
    cursor: pointer;
    font-size: 0.825rem;
    font-weight: 500;
    color: black;
    cursor: pointer;

}



.menuContainer {
    grid-area: menu;
    width: 100%;
    
    /* Hide scrollbar for most browsers */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.menuContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
}


.productContainer{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    gap: 0.5rem;
}

.pText {
    color: #000;
    opacity: 0.5;
    font-size: 1rem;
    background-color: transparent;
}

/* Custom scrollbar styles for webkit browsers */
.orderContainer::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.orderContainer::-webkit-scrollbar-track {
    background: #A0764B; /* Background of the scrollbar track */
}

.orderContainer::-webkit-scrollbar-thumb {
    background: #A5957B; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.orderContainer::-webkit-scrollbar-thumb:hover {
    background: #A0764B; /* Darker shade on hover */
}

/* For Firefox */
.orderContainer {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #A5957B #A0764B; /* Thumb color and track color */
}

.orderContainer {
    grid-area: order;
    width: 100%;
    max-height: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    position: relative;
    background-color: #FEF7E1;
    overflow: auto;
    box-shadow: 0px 8px 8px 0px rgba(62,39,35,1);
    -webkit-box-shadow: 0px 8px 8px 0px rgba(62,39,35,1);
    -moz-box-shadow: 0px 8px 8px 0px rgba(62,39,35,1);   
}

.orderTxt {
    margin-top: 1rem;
    font-size: 1.125rem;
    font-weight: 900;
    letter-spacing: 0.15rem;
    background-color: transparent;
}

.orders {
    width: 95%;
    height: 100vh;
    text-align: center;
    background-color: transparent;
    overflow: auto; /* Ensure scrolling works */
    border-top: 1px solid;
    border-bottom: 1px solid    ;
  }
  
  /* Custom scrollbar styles for WebKit browsers (Chrome, Edge, Safari) */
  .orders::-webkit-scrollbar {
    width: 8px; /* Set a width for the scrollbar */
  }
  
  .orders::-webkit-scrollbar-thumb {
    background-color: transparent; /* Transparent thumb */
    border-radius: 10px; /* Optional: rounded edges for the thumb */
  }
  
  .orders::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent track */
  }
  
  /* Custom scrollbar styles for Firefox */
  .orders {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: transparent transparent; /* Transparent thumb and track */
  }
  

.placeOrder {
    width: 90%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: #A5957B;
    color: black;
}

.receipt {
    width: 100%;
    height: 35vh;
    border-top: 0.2rem dashed;
}

.orderCategoryTitle{
    background-color: #0e0e0e;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.individualProductsContainer,
.bundleContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.category{
    color: black;
    font-size: 0.825rem;
    font-weight: 600;
}

.categoryTitle {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 1rem;
    background-color: #0e0e0e;
    margin-bottom: 1rem;
    padding-left: 1rem;
    border-radius: 0.3rem;
    font-weight: 600;
}


.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #3e2723;
}

.item-details {
    flex: 1; /* Take remaining space */
}

.item-actions {
    display: flex;
    align-items: center;
}

/* Quantity Control Styles */
.quantity-control {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Space between quantity controls and remove button */
}

.quantity-control button {
    padding: 5px 10px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quantity-control button:hover {
    background-color: #e67e22; /* Darker shade on hover */
}

.quantity-text {
    margin: 0 10px; /* Space between buttons and quantity text */
}

/* Remove Button */
.cart-button {
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-button:hover {
    background-color: #c0392b; /* Darker shade on hover */
}

.orderDetails {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FEF7E1;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
    padding: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.orderDetailsHeader {
    font-size: 1.125rem;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
    margin: 0;
}

.orderItems {
    height: 12rem;
    max-height: 10rem;
    overflow-y: auto;
    padding: 0rem 1rem;
    border-bottom: 1px solid black;
    border-top: 1px solid black;

  }
  
  /* Custom scrollbar styles for WebKit browsers (Chrome, Edge, Safari) */
  .orderItems::-webkit-scrollbar {
    width: 8px; /* Set a width for the scrollbar */
  }
  
  .orderItems::-webkit-scrollbar-thumb {
    background-color: transparent; /* Transparent thumb */
    border-radius: 10px; /* Optional: rounded edges for the thumb */
  }
  
  .orderItems::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent track */
  }
  
  /* Custom scrollbar styles for Firefox */
  .orderItems {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: transparent transparent; /* Transparent thumb and track */
  }
  

.orderItem, .orderItemReceipt {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px dashed black;
}

.orderItem p {
    margin: 0;
    font-size: 0.825rem;
}

.headerPayment{
    position: relative;
    font-size: 1rem;
    margin: 0.5rem 0 0 0 ;
    padding: 0;
    margin: 0;
}

.cashHeader{
    font-size: 1.125rem;
    position: relative;
    margin: 0;
}

.removeItem {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.removeItem:hover {
    background-color: #ff1a1a;
}

.totalAmount {
    font-size: 1rem;
    font-weight: 600;
    text-align: right;
    margin: 0;
    align-self: flex-end;
}

.paymentOptions,
.additionalOptions {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px 0;
    justify-content: center;
    margin: 0;
}

.paymentOptions label,
.additionalOptions label {
    font-size: 0.825rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin: 0;
}

.navOrderDetailButtons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.paymentOptions input[type="radio"],
.additionalOptions input[type="checkbox"] {
    margin-right: 5px;
}

.confirmOrderButton, .cancelOrderButton {
    width: 30%;
    padding: 10px;
    font-size: 0.825rem;
    font-weight: bold;
    color: black;
    background-color: #A5957B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navButtonForGcash{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.paymentDetails{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FEF7E1;
    border-radius: 8px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 80%;
    max-width: 600px;
    padding: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}











/* Calculator.css */
.calculator {
    width: 100%;
    height: 80%;
    
    background-color: #3e2723;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5%;
}

.display {
    width: 100%;
    background-color: transparent;
    margin-bottom: 1rem;
    position: relative;
    left: 6%;
}

.inputData {
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #272626;
    border-radius: 5px;
    text-align: right;
    background-color: #FEF7E1;
}

.contentContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-top: 1px solid;
    padding-top: 0.5rem;
}

.calcButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: transparent;
}

.cancelPaymentButton{
    background-color: #A5957B;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 3rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

.cancelPaymentButton:hover{
    background-color: #A0764B;
}

.calcButton {
    padding: 20px;
    font-size: 1rem;
    background-color: #6d4c41;
    border: 1px solid #272626;
    border-radius: 5px;
    cursor: pointer;
}

.calcButton:hover {
    background-color: #212233;
    border: 1px solid #0e0e0e;
}

.calcButton:active {
    background-color: #ccc;
}

@media (max-width: 1220px) {
    .section {
        width: 100%;
        padding: 1rem;
        left: 0;
    }
}

.details{
    width: 100%;
    height: 90%;
    background-color: transparent;
    display: flex;
    justify-content:  space-between;
    align-items: end;
    flex-direction: column;
}

.navButton{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.paymentInfo{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.paymentAmount{
    width: 50%;
    margin: 0;
    margin-left: 0.3rem;
}

.sum, .sum1{
    color: #3e2723;
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
    margin: 0;
    margin-bottom: 0.3rem;
}

.sum1{
    font-weight: 600;
}

.orderReceipt{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FEF7E1;
    border-radius: 8px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 30%;
    height: 20%;
    max-width: 600px;
    padding: 20px;
    z-index: 1000;  
    justify-content: center;
    align-items: center;
}

.modalH2{
    margin: 0;
}

.orderItemReceipt{
    width: 100%;
    height: 100%;
}


.modalBackdrop{
    z-index: 1000;
    position: absolute;
    top: 30%;
    left: 5%;
}.paymentOptions input[type="radio"] {
    appearance: none;
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #3e2723; /* Border color */
    background-color: transparent; /* Background color when not selected */
    position: relative;
    cursor: pointer;
  }
  
  .paymentOptions input[type="radio"]:checked {
    background-color: #3e2723; /* Background color when selected */
  }
  
  .paymentOptions input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff; /* Inner circle color */
  }

  /* Common styles for both paymentOptions and additionalOptions */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #3e2723; /* Border color */
    background-color: transparent; /* Background color when not selected */
    position: relative;
    cursor: pointer;
  }
  
  input[type="radio"]:checked {
    background-color: #3e2723; /* Background color when selected */
  }
  
  input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff; /* Inner circle color */
  }
  

  .modalPOS {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 14, 14, 0.5);
    z-index: 100;
  }
  
  .modalConfirmation{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FEF7E1;
    border-radius: 8px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 30%;
    height: 25%;
    max-width: 600px;
    padding: 20px;
    z-index: 1000;  
}

.modalConfirmation1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FEF7E1;
    border-radius: 8px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 30%;
    height: 30%;
    max-width: 600px;
    padding: 20px;
    z-index: 1000;  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

 .modalButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }   
 
 .cancelModalConfirmation{
    background-color: #A5957B;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
 }

 @media (max-width: 480px) {
    .section {
        padding: 1rem;
        left: 0;
    }
}


 @media (max-width: 768px) {
    .section {
        padding: 1rem;
        left: 0;
    }
    .posContainer {
        grid-template-columns: 1fr; /* Single column for mobile */
    }
    .searchBar {
        width: 90%; /* Adjust search bar for mobile */
    }
}


.handleCloseModal1 {
    background-color: #3e2723;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}



.customerDetails{
    height: 10%;
    display: flex;  
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

.customerDetails label{
    width: 50%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customerDetails input{
    width: 50%;

    border-radius: 0.3rem;
    margin: 0;
    margin-left: 0.3rem;
}

.inputBoxx{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}


.selectTableDesign{
    border: 1px solid;
    color: #000;
    width: 30%;
    padding: 0.5rem 0.2rem;
    border-radius: 0.4rem;
    margin: 1rem 0;
}